@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/Roboto.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat-Regular'),
    url('../fonts/Montserrat\ Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'), local('Montserrat-Bold'),
    url('../fonts/MotserratBold.ttf') format('truetype'); /* Safari, Android, iOS */
}