.activity {
  margin-bottom: 94px;

  &__title {
    margin-bottom: 34px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 310px);
    grid-gap: 20px;
  }

  &__item {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    background-color: $main-color;
    background-size: cover;

    &:nth-child(5) {
      grid-column: span 2;
    }

    &:nth-child(6) {
      grid-column: span 2;
    }
  }

  .sport {
    background: url('../img/activity-sport.jpg');
  }

  .health {
    background: url('../img/activity-health.jpg');
  }

  .extreme {
    background: url('../img/activity-extreme.jpg');
  }

  .games {
    background: url('../img/activity-games.jpg');
  }

  .culture {
    background: url('../img/activity-culture.jpg');
  }

  .relax {
    background: url('../img/activity-relax.jpg');
  }

  .travel {
    background: url('../img/activity-travel.jpg');
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    @include transition(0.4s, all);

    &:hover {
      background-color: rgba($color: $main-color, $alpha: 0.6);
    }
  }
}

/* IE 11 */

.activity__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 310px 20px 310px 20px 310px;
  grid-template-rows: repeat(3, 310px);
  grid-gap: 20px;
}.activity__list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.activity__list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.activity__list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.activity__list > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.activity__list > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
}.activity__list > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
}.activity__list > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
