.partners {
  margin-bottom: 97px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }

  &__article {
    max-width: 220px;
    margin-top: 32px;
  }

  &__img-container {
    position: relative;
    margin-bottom: 15px;
  }

  &__img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
  }

  &__interest {
    box-sizing: content-box;
    position: absolute;
    right: 44px;
    bottom: -2px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 5px solid #fff;
    border-radius: 50%;
  }

  .tv {
    background: url('../img/tv-img.svg') center center no-repeat;
    background-color: #ff4e50;
  }

  .cafe {
    background: url('../img/cafe-img.svg') center center no-repeat;
    background-color: #1cd7ad;
  }

  .science {
    background: url('../img/science-img.svg') center center no-repeat;
    background-color: #ffa507;
  }

  .telegram {
    background: url('../img/telegram-img.svg') center center no-repeat;
    background-color: #4e73db;
  }

  &__name {
    margin-bottom: 13px;
    color: $main-color;
    font-size: 14px;
  }

  &__descr {
    color: #8f8f8f;
  }

  &__link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 37px;
    padding: 9px 26px;
  }
}
