@import 'fonts';
@import 'vars';
@import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html,
body {
  font-family: $main-font;
  color: $light-font-color;
  font-size: 14px;
}

.btn {
  font-family: $main-font;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.red-link {
  font-weight: bold;
  border: none;
  border-radius: 20px;
  background-color: $red-link-color;
  @include transition(0.3s, all);

  &:hover {
    background-color: #da4245;
  }
}

.white-link {
  color: $red-link-color;
  font-weight: bold;
  border: 2px solid $red-link-color;
  border-radius: 20px;
  @include transition(0.3s, all);

  &:hover {
    color: $light-font-color;
    border-color: $red-link-color;
    background-color: $red-link-color;
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.title {
  width: 100%;
  color: $main-color;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0px;
}

.descr {
  font-family: $descr-font;
}

.list {
  list-style-type: none;
}

input[type=search] {
  -moz-appearance: none;/* older firefox */
  -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
  appearance: none; /* rest */
}

@import 'header';
@import 'work';
@import 'partners';
@import 'activity';
@import 'search';
@import 'footer';

